━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

                       🔐 𝐄𝐧𝐯𝐢𝐫𝐨𝐧𝐦𝐞𝐧𝐭 𝐕𝐚𝐫𝐢𝐚𝐛𝐥𝐞𝐬 🔐

✨ 𝐇ᴇʀᴇ 𝐘ᴏᴜ 𝐒ʜᴏᴜʟᴅ 𝐏ᴜᴛ 𝐘ᴏᴜʀ 𝐓ᴇʟᴇɢʀᴀᴍ 𝐁ᴏᴛ 𝐚ɴᴅ 𝐔sᴇʀ 𝐃ᴇᴛᴀɪʟs ✨


# API_ID: 🆔 Telegram API ID (integer)
API_ID=23474477

# API_HASH: 🔑 Telegram API Hash (string)
API_HASH=96af91641ba8ed551bf80ea3d6acd350

# BOT_TOKEN: 🤖 Bot Token from BotFather
BOT_TOKEN=7849956173:AAEo-qj2pYu1tTxGWqYdVO2UMDH9lZptCjU

# LOG_GROUP_ID: 📢 Log Group ID (integer)
LOG_GROUP_ID=-1002259722835

# MONGO_DB_URI: 🗄️ MongoDB URI
MONGO_DB_URI=mongodb+srv://Branded:Brandedking82@branded.kauagbt.mongodb.net/?retryWrites=true&w=majority

# OWNER_ID: 👤 Owner User ID (integer)
OWNER_ID=7861988028

# STRING_SESSION: 🔄 Pyrogram Userbot Session (string)
STRING_SESSION=BQGSljwACQwuJy3il18ZLizQfgHdmWEAMsHxnC3aOWoBECks8YUbH5xhrlnd_akEM5CvGu2S4K4wtIrpoJIKbLgDw85ZQAoyxd_I5lbXgk_y7ADLBxM69uAJFC1J4fuC6l0LRf6CJ5IOPAVjJ7crckjY8ZSMn9zayJS8CX5tObqRcUDYI0K1bwyO4H1EKGQNV9hW-seXdJmAK2a7MgjfIIYnMOEXXRiiRVjHqIBqq1oCuf28au4Y3PrpvtADBPyN9jjaTeC5cBUJpk2sR56lTQNFSlvUh5b2DBg_XI7wUQc5EvOyAmUkSkyj0vzizAOJ9vtL8gLeSzqI9QYxa2juAFZpceGo-AAAAAHYDIrIAA

# SUPPORT_GROUP: 🆘 Support Group URL
SUPPORT_GROUP=https://t.me/MUSIC_BOT_UPDATE

# SUPPORT_CHANNEL: 📡 Support Channel URL
SUPPORT_CHANNEL=https://t.me/MUSIC_BOT_UPDATE

